*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#regionBar{
    
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    
    
}
.regionText{
    padding: 0.4rem;
    min-width: 9rem;
    text-align: center;
}
button{
    all: unset;
    outline: none;
    text-align: center;
    display: flex;
    align-items: center;
}
button:focus{
    outline: none;
}
img{
    width: 1.6rem;
    height: 1.6rem;
}