.header{
    width: 22rem;
    padding: 8px 15px 8px 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.9rem;
    
}

#wrapper{

}

.tileList{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    transform: translateX(-50%);
    transition: transform 0.75s ease;
    list-style: none;

    
}
.tiles,.emptyTiles{
    display: flex;
    width: 23rem;
    height: 7rem;
    border: 1px solid black;
    background-color: white;

    border-radius: 0.8rem;
   
}
.selected{
    border: 1px solid red;
}
.hiddenx{
    transform: translateX(-170%);
    transition: transform 0.75s ease;
    
}
.slideIn{
    transform: translateX(-50%);
    transition: transform 0.75s ease;
}

