*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  
  margin: 0;
  padding: 0;
  
  width: 100vw;
  height: 100vh;
}

#mainContainer{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 30px;
}

#trainerContainer{
  grid-row: 1/3;
}