
#title{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.4rem;
    font-size: 20pt;
    background-color: lightgray;
    
}
#title >img{
    width: 2.2rem;
    height: auto;
}
#subtitle{
    display: flex;
    gap: 2rem;
    margin-bottom: 0.3rem;
   
}
#info-wrapper{
    padding: 1rem;
}
